:root {

    --color-principal: #D9C089;
    --color-secundario: #E3E3E3;
    --color-border-card: #ffda8a;

}


main {

    padding-top:6rem;

}


#hero {

    scroll-margin-top: 5.3rem;
}

#aboutMe {

    scroll-margin-top: 6.3rem;
}

#services {

    scroll-margin-top: 6.5rem;
}
#contact {

    scroll-margin-top: 7rem;
}




/* RESET BÁSICO Y SANO */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Quitar márgenes raros del navegador */
html,
body {
    margin: 0;
    padding: 0;
}

/* Textos: fuera márgenes por defecto */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-family: "Solway", serif;
}



p {

    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: "Funnel Display", sans-serif;
}

/* Listas sin basura */
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Funnel Display", sans-serif;
}

/* Enlaces limpios */
a {
    text-decoration: none;
    color: inherit;
    gap: 0.5rem;
    font-family: "Funnel Display", sans-serif;
}

/* Imágenes bien comportadas */
img {
    max-width: 100%;
    display: block;
}

/* Botones sin estilos raros */
button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    font-family: "Funnel Display", sans-serif;

}

/* Inputs coherentes */
input,
textarea,
select {
    font: inherit;
    color: inherit;
    border: none;
    outline: none;
}

/* Textarea sin resize loco */
textarea {
    resize: none;
}

/* Evitar zoom raro en mobile */
html {
    -webkit-text-size-adjust: 100%;
}

/* Mejor scroll (opcional pero agradable) */
body {
    scroll-behavior: smooth;
}

summary {
  list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}